/* for tableau only */

.common {
    position: absolute;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    border-bottom: solid 1px #555555;

}

.mainbody {
    top: 114px;
    bottom: 64px;
    right: 114px;
    left: 114px;
    padding-right: 5px;
}

.footer {
    bottom: 5px;
    height: 50px;
    left: 5px;
    right: 5px;
    font-size: 14px;
    color: brown;
    text-align: center; 
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

